# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

### **Objectives**
- learn introduction to coding
- How to write comments in python
- Download tools of data sciene

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numphy
3. Tensorflow

|Data Science Tools|
|-----------------|
| Jupyter notetook |
| Rstudio|
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
#### This a simple arithmetic expression to mutiply then add integers
result = (3 * 4) + 5

# Print the result
print(result)

17

In [3]:
### This will convert 200 minutes to hours by diving by 60
result = 200/60
print (result)

3.3333333333333335

## Author
Michelle Wanjala